*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


.header {
    background-color: #9f3647;
    color: #ffffff;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;
}
.listaNav {
    list-style: none;
    display: flex;
    align-items: center;
}
.listaItem {
    margin-right: 20px;
}
/*CSS DE INICIAR SESIÓN*/
.bodyIn{
    height: 100vh;
    background-image: url("imagenes/bg-register.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.headerIn{
    color:#ffffff;
    height: 8vh;
    padding:30px;
}
.anclaIndex{
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
}

.seccionIn{
    width: 30%;
    margin:0 auto;
    border-radius: 5px;
    padding: 40px 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size:1.2rem;
    background-color:rgb(42, 42, 42);
}
.tituloIn{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: white;
}
form{
    width: 100%;}
    input,select{
        margin-bottom: 10px;
        height: 40px;
        padding: 0px 20px;
        font-size: 1.2rem;
        border-radius: 20px;
        border: 2px solid #9f3647;
        background-color: #333333;
        outline: none;
        color:rgb(255, 255, 255);
        width: 100%;
    }
.terminos{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.ayuda{
    font-size: 1rem;
    text-decoration: none;
    color: #787878;
    font-weight:400;
    margin-top:40px;
}
.boton{
    width: 87%;
    box-sizing: content-box;
    background-color:#9f3647;
    border: 2px solid #9f3647;
    color: white;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
}
button {
    padding: 10px 20px;
    background-color: #9f3647;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

.linkNav.iniciarSesion{
    background-color: #181419;
    color: white;
    
    border-radius: 5px;
     /* Agregar efecto de botón presionado */
     transition: transform 0.3s, box-shadow 0.3s;}
.linkNav.iniciarSesion:hover{
         background-color: #9f3647
}
/*CSS DE REGISTRARSE*/

@import url('../css2');

#bannerContainer {
    color: white;
    background: url(imagenes/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    margin-top: 22vh;
}
#bannerContainer h1, h2, h3{
    animation: zoomIn 1.5s;
    max-width: 80%;
}
#bannerContainer h1{
    font-size: 2.2rem;
    font-weight: bolder;
    margin-bottom: 10px;
    animation: zoomIn 1.5s;
}
#bannerContainer h2{
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
}
#bannerContainer h3{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 15px;
}

#mainTittle {
    margin: 0;
    padding: 10px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}

#mainDescription {
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);

    font-weight: 200;
}

#mainBanner {
    height: 100%;
    width: auto;
    overflow: hidden;
}

#BotonRegistro {
    background-color: #9f3647;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    font-size: 1rem;
    text-align: center;
    width: 120px;
    height: 60px;
}

.whiteHover:hover{
    scale: .95;
    transition: .1s ease-in-out;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.461);
}


#searcherContainer {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input-group {
    width: 70%;
    height: 50px;
}
.input-group h1 {
    color: white;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.form-control {
    margin-right: 10px;
}

#searchButton {
    background-color: #9f3647;
    color: white;
    border-radius: 60px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
}
#searchButton:hover {
    background-color: #551d26;
    transition: ease-in .1s;
}

.movie {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 40px;
}

#Tendencias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#moviesGrid {
    width: 70vw;
    display: grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.movie:hover img {
    filter: brightness(20%) blur(2px);
    transition: ease-in .15s;
    box-shadow: 0 0 50px rgba(255, 89, 89, 1);
    scale: .92;
}
.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    max-width: 230px;
}


.movieTittle {
    opacity: 0;
    position: absolute;
    text-align: center;

    top: 50%;
    left: 50%;

    transform: translateY(-50%) translateX(-50%);

    color: white;
    font-size: 2rem;
}

.movie:hover .movieTittle {
    opacity: 1;
}

#mostAcclaimed h1, #moviesSection h1 {
    margin-bottom: 70px;
}
#mostAcclaimed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
#mostAcclaimedContainer {
    display: flex;
    overflow-x: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    flex-direction: row;
    margin-bottom: 100px;
    gap: 30px;
}
#mostAcclaimedContainer img {
    width: 200px;
    height: 300px;
}
#mostAcclaimedContainer .movie {
    margin-bottom: 20px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(68, 68, 68);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #9f3647;
    border-radius: 10px;
}

#arrow-up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    filter: brightness(30%);
}

hr{
    border: 2px solid #ff2f52 ;
    width: 70vw;
    margin: 80px auto 80px auto;
}

#pagesButtons button{
    box-sizing: content-box;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    background-color: #9f3647;
    color: white;
    border: 1px white solid;
    margin: 50px 10px 0;
    padding: .6rem .6rem;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    #bannerContainer {
        height: 90vh;
        margin-top: 8vh;
    }

    #bannerContainer h1{
        font-size: 3.2rem;
    }
    #bannerContainer h2{
        font-size: 2.6rem;
    }
    #bannerContainer h3{
        font-size: 2rem;
    }
       

    #BotonRegistro{
        width: 140px;
        height: 70px;
    }

    .input-group {
        width: 40%;
    }
}
